.container {
  border-radius: 25px;
  max-height: 100%;
  width: 80%;
  margin: 2% auto;
  background-color: #D6C9F2;
  color: black;
  box-shadow: -1px -1px 3px #222177, 1px -1px 3px #222177;
  overflow: hidden;
  display: flex;
}

#logo {
  padding: 0 50px;
  width: 20%;
}

.container > ul {
  margin: 2%;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 15%;
}

.container > ul > li {
  border-left: 1px solid #B188E5;
  border-right: 1px solid #B188E5;
  font-size: 3vh;
  text-align: center;
  padding: 1vh 3vh 0vh 3vh;
  margin: 0 0px;
  line-height: 3vh;
  position: relative;
}
